body{
  max-width: 650px;
  margin: 0 auto;
  font-family: Verdana;
}

a {
  color: #fcf9ff;
}

a.productLink {
  color: #383838;
}

a:hover,
a:focus,
a.prod:hover{
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

img{
  max-width: 230px;
  max-height: 230px;
}

.img-wrap {
  background: #f8f8f8;
  height: 200px;
  margin: 0 auto 20px;
  padding: 10px;
  width: 200px;
}

.button {
  background-color: #383838;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px
}

.saveButton {
  background-color: #383838;
  border: none;
  color: white;
  padding: 1px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px
}

input {
  width: 15%;
}

.card {
  padding: 16px 0px;
}
.filtersPadding {
  padding: 8px 0px;
}

.topSeparator {
  border-top: 1px solid #d0d0d0;
}

.bottomSeparator {
  border-bottom: 1px solid #d0d0d0;
}
