body{
  max-width: 650px;
  margin: 0 auto;
}

a {
  color: #fcf9ff;
}
a:hover,
a:focus {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

li.small-image{
  width: 50px;
}

li.small-image img{
  width: 100%;
}

img{
  max-width: 230px;
  max-height: 230px;
}

.img-wrap {
  background: #f8f8f8;
  height: 200px;
  margin: 0 auto 20px;
  padding: 10px;
  width: 200px;
}

.img-thumbnail {
  background: none;
  border: 0;
  height: auto;
  max-width: 100%;
}

.img-thumbnails {
  margin: 0 auto 10px;
  width: 200px;
}

.img-thumbnails .thumbnail {
  background: #f8f8f8;
  border: 0;
  margin-right: 25px;
  min-height: 50px;
}

.img-thumbnails .thumbnail:last-child {
  margin-right: 0;
}

.button {
  background-color: #383838;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}