<!--  Products Container  -->
<div class="list-group"
     ng-repeat="product in homeCtrl.products | orderBy:'-price'">
    <!--  Product Container  -->
    <div class="card">
        <div class="topSeparator">
            <a class= "productLink" ng-href="#!/products/{{product.id}}">
                <product></product>
            </a>
            <div class="pull-right">
                <button class="button" ng-show="product.canPurchase" ng-click="homeCtrl.addItem(product)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
